/* Placeholders for images */
.ph {
  background-color: #c5cdde;
  width: 100%;
  height: 220px;
  border-radius: 4px;
  aspect-ratio: auto;
}

.grid-process .ph {
  height: 150px;
}

.btn {
  display: inline-block;
  border: 2px solid var(--color-dark);
  padding: 0.8rem 2rem;
  border-radius: 25px;
  text-decoration: none;
  color: var(--color-dark);
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: lowercase;
  transition: all 0.3s ease;
  background-color: transparent;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}
